/* Estilo General */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #0078D7;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Contenido Principal */
main {
    padding: 2rem;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #0078D7;
    font-weight: bold;
    transition: color 0.3s;
}

ul li a:hover {
    color: #005bb5;
}

/* Pie de Página */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
